@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Footer {
  position: fixed;
  bottom: 0;
  margin: 2rem 1rem;
  &__Links {
    display: flex;
    flex-direction: column;
    position: relative;

    @include respond(phone) {
      flex-direction: row;
    }

    @include respond(xsmall) {
      flex-direction: row;
    }
    a {
      width: 0;
      padding: 0.5rem 0;
      transition: all 0.3s;
    }

    a:hover {
      color: $hover-link;
    }
    &::after {
      content: '';
      bottom: -4rem;
      left: 0.6rem;
      position: absolute;
      display: block;
      width: 2px;
      height: 4rem;
      background-color: $color-contrast-second;

      @include respond(phone) {
        width: 0;
        height: 0;
      }

      @include respond(xsmall) {
        width: 0;
        height: 0;
      }
    }
  }
  &__Text {
    position: relative;
    bottom: -8px;
    right: -3rem;
    padding: 0.5rem;
    font-size: $font-medium;
    text-transform: lowercase;
    color: $color-font-contrast;

    @include respond(phone) {
      display: none;
    }

    @include respond(xsmall) {
      display: none;
    }
  }
}
