@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.button {
  font-size: $font-large;
  font-family: $font-family;
  font-weight: 700;
  transition: all 0.3s;
  padding: 0 2rem;
}

.button:hover {
  color: $hover-link;
}
