@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Contact {
  &__Container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 16rem 0;
    @include respond(phone) {
      position: initial;
    }
    @include respond(xsmall) {
      position: initial;
    }
  }

  &__Content {
    z-index: 99;
    text-align: justify;
    font-size: $font-normal;
    line-height: 1.2;
    display: flex;
    flex-direction: column;

    &-social,
    &-rest {
      display: flex;
      justify-content: space-between;
    }
  }
}
