@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Home {
  &__Container {
    height: 80vh;
    width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__Content {
    text-align: justify;
    font-size: $font-normal;
    line-height: 1.4;
    @include respond(phone) {
      font-size: $font-small;
    }
    @include respond(xsmall) {
      font-size: $font-small;
    }
    &-paragraph {
      @include respond(tab-port) {
        margin: 2rem;
      }
      @include respond(phone) {
        display: inline-block;
        margin: 2rem;
        font-size: $font-small;
      }
      @include respond(xsmall) {
        display: inline-block;
        margin: 4rem;
        font-size: $font-small;
      }
    }
    &-img {
      height: 20rem;
      width: 20rem;
      padding: 1rem;

      @include respond(phone) {
        display: none;
      }
      @include respond(xsmall) {
        display: none;
      }
    }
    &-span {
      font-size: $font-large;
      color: $color-font-contrast;
      font-weight: 700;
    }
    &-nav {
      align-self: flex-end;

      @include respond(phone) {
        margin-left: 2rem;
        text-align: flex-start;
      }
      @include respond(xsmall) {
        margin-left: 4rem;
        text-align: flex-end;
      }
    }
  }
  &__Nav {
    font-size: $font-normal;
    text-align: center;

    &-link {
      transition: all 0.3s;
    }
    &-link:hover {
      color: $hover-link;
    }
  }
}
