@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Home {
  &__Container {
    height: 80vh;
    width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
    }
    @include respond(xsmall) {
    }
  }

  &__Content {
    text-align: justify;
    font-size: $font-normal;
    line-height: 1.4;

    @include respond(desktop) {
    }
    @include respond(desktop-small) {
    }
    @include respond(tab-port) {
    }
    @include respond(phone) {
      font-size: $font-small;
    }
    @include respond(xsmall) {
      font-size: $font-small;
    }
    &-img {
      height: 20rem;
      padding: 1rem;

      @include respond(phone) {
        display: none;
      }
      @include respond(xsmall) {
        display: none;
      }
    }
    &-span {
      font-size: $font-large;
      color: $color-font-contrast;
      font-weight: 700;
    }
    &-nav {
      align-self: flex-end;
    }
  }
  &__Nav {
    font-size: $font-normal;

    @include respond(tab-port) {
    }

    @include respond(phone) {
    }
    @include respond(xsmall) {
    }
    &-link {
      transition: all 0.3s;
      @include respond(tab-port) {
      }

      @include respond(phone) {
      }
      @include respond(xsmall) {
      }
    }
    &-link:hover {
      color: $hover-link;
    }
  }
}
