@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Projects {
  width: 90%;
  display: flex;
  margin: 1rem auto;
  &__Container {
    margin: 0.5rem 0;
    display: flex;
    flex: 1 0 33.333%;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__Project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    border: 1px solid $color-contrast-second;
    border-radius: 5px;
    margin: 1rem;
  }
  &__Photo {
    display: flex;
    justify-items: center;
    align-content: center;
    margin: 1rem auto;
  }
  &-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &-tech,
  &-descr,
  &-name {
    margin: 0.5rem 0;
  }

  &-type {
    font-size: $font-medium;
    color: $color-font-contrast;
    font-weight: 700;
  }

  &-tech,
  &-name,
  &-button,
  &-type,
  &-descr {
    align-self: center;
    text-align: center;
  }
  &-photo {
    border-radius: 0;
    align-content: center;

    @include respond(mix-phone-tab) {
      display: none;
    }

    @include respond(phone) {
      display: none;
    }

    @include respond(xsmall) {
      display: none;
    }
  }
  &-descr {
    padding: 0 5px;
  }
}
