@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Projects {
  width: 90%;
  display: flex;
  margin: 5rem auto;
  &__Container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-bg {
    font-size: 38rem;
    color: $color-font-contrast-second;
    opacity: 0.15;

    @include respond(desktop) {
      font-size: 38rem;
    }
    @include respond(desktop-small) {
      font-size: 36rem;
    }
    @include respond(tab-port) {
      font-size: 34rem;
    }
    @include respond(phone) {
      display: none;
    }
    @include respond(xsmall) {
      display: none;
    }
  }
  &__Content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__Project {
    flex: 1 1 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid $color-contrast-second;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
  }

  // &__Project > * {
  //   flex: 1 1 100%;
  // }
  &-tech,
  &-descr,
  &-name {
    margin: 1rem 0;
    text-align: justify;
  }
  &-photo,
  &-tech,
  &-name,
  &-button {
    align-self: center;
  }
  &-descr {
    padding: 0 5px;
  }
  &-photo {
    border-radius: 0;

    @include respond(mix-phone-tab) {
      display: none;
    }

    @include respond(phone) {
      display: none;
    }

    @include respond(xsmall) {
      display: none;
    }
  }
}
