@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Layout {
  display: flex;

  &__Container {
    display: flex;
    flex-wrap: wrap;
  }
  &__Header {
    flex: 1 0 100%;
    padding: 2rem 0;
    text-align: center;
    align-self: center;

    &-header,
    &-text {
      margin: 1rem 0;
    }

    // &::after {
    //   content: '';
    //   top: 8rem;
    //   left: 8rem;
    //   display: block;
    //   width: 100%;
    //   height: 2px;
    //   background-color: $color-contrast-second;
    // }
  }
}
