@import './settings.scss';
@import './mixins.scss';

// .root {
//   position: relative;
//   top: 50%;
//   left: 0;
//   right: 0;
// }
nav {
  box-shadow: none;
  background-color: transparent;
}

h4 {
  font-size: $header-h4;
  font-family: $font-family;
  letter-spacing: 1.4px;
}
h3 {
  font-size: $header-h3;
  font-family: $font-family;
  letter-spacing: 1.4px;
}
h2 {
  font-size: $header-h2;
  font-family: $font-family;
  letter-spacing: 1.4px;
}

p {
  font-size: $font-normal;
  font-family: $font-family;
}

.link,
.link:active,
.link:visited,
.link:link {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: $font-family;
}

.link,
.link:active,
.link:visited,
.link:link,
a,
a:active,
a:visited,
a:link {
  text-decoration: none;
  color: $color-font-main;
  font-family: $font-family;
  cursor: pointer;
}

a,
a:active,
a:visited,
a:link {
  margin: 0;
  font-size: $font-normal;
  font-family: $font-family;
}

li {
  list-style-type: none;
  font-family: $font-family;
}

strong {
  letter-spacing: 1.2px;
  font-family: $font-family;
}

img {
  // width: 20rem;
  height: auto;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
}

/* buttons */
button {
  border: none;
  padding: 1rem 4.5rem;
  margin: 1rem 1.5rem 1rem 0;
  outline: none;
  font-size: $font-normal;
  font-family: $font-family;
  transition: border 0.2s;
  background: none;

  @include respond(tab-port) {
    padding: 1rem;
    margin-left: 4rem;
  }
  @include respond(mix-phone-tab) {
    margin-left: 3rem;
  }

  @include respond(xsmall) {
    margin-left: 2rem;
    display: block;
  }
}

.btn {
  font-family: $font-family;
  &-span {
    font-weight: 600;
    font-family: $font-family;
    transition: all 0.8s;
    margin: 0 1rem;
    display: inline-block;
    cursor: pointer;
    text-transform: lowercase;

    @include respond(tab-port) {
      margin: 0;
    }
  }
  &-aTag {
    transition: all 0.8s;
  }
}

.btn:hover .btn-span,
.btn:hover .btn-aTag {
  color: $hover-link;
}

/* Grid */

.grid {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns:
    [full-start] 10rem [center-start] repeat(10, minmax(min-content, 14rem))
    [center-end] 1fr[full-end];
  gap: 2rem;
  justify-items: stretch center;
  align-items: center;

  @include respond(tab-port) {
    grid-template-rows: repeat(8, min-content);
  }
  @include respond(phone) {
    grid-template-rows: repeat(8, min-content);
  }
}

/* helper classes */
.active-link {
  color: $active-link;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-group {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  font-size: 4.5rem;
  margin: 2rem;
  transition: all 0.3s;
}

.icon-group:hover {
  color: $hover-link;
}

/* animation */

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
